<div class="modal fade" id="editarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editoCliente()">
                    <div class="form-group">
                        <label for="dniCliente">DNI del cliente</label>
                        <input type="text" class="form-control" id="dniClienteE" placeholder="" name="dni"
                            [(ngModel)]="editCliente.dniCliente" disabled>
                    </div>
                    <div class="form-group">
                        <label for="nombreCliente">Nombre del cliente</label>
                        <input type="text" class="form-control" id="nombreClienteE" placeholder="" name="nom"
                            [(ngModel)]="editCliente.nombre">
                    </div>
                    <div class="form-group">
                        <label for="dirCliente">Dirección de envío</label>
                        <input type="text" class="form-control" id="dirClienteE" placeholder="" name="dir"
                            [(ngModel)]="editCliente.direccion">
                    </div>
                    <div class="form-group">
                        <label for="mailCliente">Dirección de correo electrónico</label>
                        <input type="email" class="form-control" id="mailClienteE" placeholder="" name="mail"
                            [(ngModel)]="editCliente.email">
                    </div>
                    <div class="form-group">
                        <label for="passCliente">Contraseña</label>
                        <input type="password" class="form-control" id="passClienteE" placeholder="" name="pwd"
                            [(ngModel)]="editCliente.pwd">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Editar cliente</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>